# dependencies
/node_modules
/.pnp
.pnp.js

# public files
public/

# testing
/coverage

# production
/build
/dist

# IDE and OS-specific files
.DS_Store
.vscode/
.idea/

# environment files
.env
.env.*

# sensitive files
src/firebaseConfig.js
api_key.json
*.pem
*.key

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# temporary files
tmp/
cache/
*.tmp
*.swp
*.bak
*.orig

# machine learning
*.csv
*.tsv
*.xlsx
*.h5
*.pkl
*.onnx
checkpoints/
